<ion-card>
  <ion-card-header>
    <ion-card-title>Generacion 1</ion-card-title>
    <ion-card-subtitle>Juegos Red, Blue & Yellow</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
      <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
      <ion-infinite-scroll-content>
      <ion-item *ngFor="let poke of pokedex, let i = index" (click)="consultar(poke.name)">
        <ion-thumbnail slot="start">
          <img [src]="'/assets/sprites/sprites/pokemon/' + (i+1) + '.png'" alt="avatar" />
        </ion-thumbnail>
        <ion-label>{{ poke.name }}</ion-label>
      </ion-item>
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-card-content>
</ion-card>